<html>
<head><title>Feedback Received</title></head>

<style>
    body {
        font-family: 'Atkinson Hyperlegible';
        font-size: 24px;
        font-weight: 400;
        background-color: #000; /* Black background */
        color: #FFF; /* White text */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
</style>
<body>
  <h1>Thank you for your feedback !</h1>
</body>
</html>
